<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="theme-color" content="#000000" />

  <title> Tienda Mascotas </title>

  {# Cargamos la librería #}
  {% load bootstrap4 %}

  {# CSS Bootstrap #}
  {% bootstrap_css %} 

  {# Archivos #}
  {% load static %}

  <link rel="shortcut icon" href="{% static 'uploads/' %}logomascota.png" />

  <link rel="stylesheet" type="text/css" href="{% static 'css/fonts/all.css' %}">    
   
  <link rel="stylesheet" type="text/css" href="{% static 'css/master.css' %}">       
  <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">       

</head>