<!doctype html>
<html lang="es">
  
  {% include 'partials/head.html' %} <!--head-->

  <body> 

    {# Cargamos la librería #}
    {% load bootstrap4 %}

    {# Widget Tweaks #}
    {% load widget_tweaks %}

    <header>
      {% include 'partials/nav.html' %} <!--nav -->
    </header>    

    <main role="main">

        <div class="container text-center mt-5">

          <div class="row mb-4">
            <div class="col-md-12">
              <h1 style="font-size: 28px;">Tienda para Mascotas</h1>              
            </div>
          </div>          

          <div class="row mb-5">

             <!--nav -->

            <div class="col-md-10">

              <div class="table-responsive">

                <nav aria-label="breadcrumb mb-3">
        					<ol class="breadcrumb">
        					    <li class="breadcrumb-item"><a href="./">Ventas</a></li>
        					    <li class="breadcrumb-item active">Crear</li>
        					</ol>
        				</nav>


                	<h4>Crear</h4>
                  <div id="vue-app">
                    {% csrf_token %}
                    <v-select :options="options" label="nombre"></v-select>
                    <div class="row">
                      <div class="col-8">
                        <input type="text" class="form-control" id="productos" name="productos" placeholder="Producto">
                         
                      </div>
                      <div class="col-2">
                        <input type="number" class="form-control" name="cantidad[]" placeholder="Cantidad">
                      </div>
                      <div class="col">
                        <div class="icon-big text-center">
                          <i class="teal fas fa-plus" role="button"></i>
                        </div>
                      </div>
                    </div> 
                  </div>
                
              </div>

            </div>

          </div>          

          <hr>

                    
          
          
        </div>

    </main>


    <footer class="text-muted mt-3 mb-3">
        <div align="center">
          Desarrollado por <a href="https://lexisvar.me" target="_blank">Alexis Vargas</a>
      </div> 
    </footer>

      {# JS y jQuery Bootstrap #}
      {% bootstrap_javascript jquery='full' %} 

    {% comment %} <script>
      $(document).ready(function(){
        $("#enviar").click(function(){
          token = $( "input[name='csrfmiddlewaretoken']" ).val();
          cliente = $( "#id_cliente" ).val();
          data = {
            csrfmiddlewaretoken: token,
            cliente: cliente,
          },
          $.post("/ventas/crear", data, function(data, status){
            if(status == 'success'){
              console.log(data)
            }else{
              console.log('error')
            }
          });
        });

        $("#productos").keyup(function(){
          token = $( "input[name='csrfmiddlewaretoken']" ).val();
          search = $( "#productos" ).val();
          data = {
            csrfmiddlewaretoken: token,
            search: search,
          },
          $.post("/productos/buscar", data, function(data, status){
            if(status == 'success'){
              $('#productos-list').show()
              console.log(data)
            }else{
              console.log('error')
            }
          });
        });

        $('#productos').focusout(function(){
          $('#productos-list').hide()
        });

        

      });

      
    </script> {% endcomment %}
    {% comment %} https://select2.org/getting-started/installation {% endcomment %}

    <script>
      Vue.component('v-select', VueSelect.VueSelect)
      var app = new Vue({
        delimiters: ["[[", "]]"],
        el: '#vue-app',
        data: {
          message: 'Hello Vue!',
          text : '',
          options: [
            {
              id:1,
              nombre:"Alexis",
            }
          ]
        },
        created(){
          this.productos()
        },
        watch:{
          text(val){
            console.log(val)
          }
        },
        methods:{
          async productos(){
              params = {
                search : "ringo",
              }
              axios
                .get('/productos/buscar', {params})
                .then(response => {
                  if(response.status == 200){
                    this.options = response.data.productos
                  }
                })
                .catch(error => {
                  console.log(error);
                });
          }
        }
      })
    </script>
  </body>
</html>
