<!doctype html>
<html lang="es">
  
  {% include 'partials/head.html' %} <!--head-->

  <body> 

    {# Cargamos la librería #}
    {% load bootstrap4 %}

    {# Widget Tweaks #}
    {% load widget_tweaks %}

    <header>
      {% include 'partials/nav.html' %} <!--nav -->
    </header>    

    <main role="main">

        <div class="container text-center mt-5">

          <div class="row mb-4">
            <div class="col-md-12">
              <h1 style="font-size: 28px;">Tienda para Mascotas</h1>              
            </div>
          </div>          

          <div class="row mb-5">

             <!--nav -->

            <div class="col-md-10">


                <nav aria-label="breadcrumb mb-3">
        					<ol class="breadcrumb">
        					    <li class="breadcrumb-item"><a href="./">Ventas</a></li>
        					    <li class="breadcrumb-item active">Crear</li>
        					</ol>
        				</nav>
                	<h4>Crear</h4>
                  <div id="vue-app">
                    <div class="row">
                      <div v-if="mostrar_mensaje" class="col alert alert-warning" role="alert">
                        [[mensaje]]
                      </div>
                    </div>
                    <div class="row">
                      
                      <h4>Cliente</h4>
                      <div class="col-8">
                        <v-select v-model="customer_selected" :options="list_customer" label="nombre" ></v-select>
                      </div>                  
                    </div>
                    <div class="row">
                      
                      <h4>Productos</h4>
                      <div class="col-8">
                        <v-select v-model="product_selected" :options="list_product" label="nombre" ></v-select>
                      </div>
                      <div class="col-2">
                        <input v-model="cantidad_producto" type="number" class="form-control" name="cantidad_producto" placeholder="Cantidad">
                      </div>
                      <div class="col">
                        <div class="icon-big text-center">
                          <i class="teal fas fa-plus" role="button" @click="agregarProductos"></i>
                        </div>
                      </div>                      
                    </div>
                    <div class="row">
                      
                      <h4>Servicios</h4>
                      <div class="col-8">
                        <v-select v-model="service_selected" :options="list_service" label="nombre" ></v-select>
                      </div>
                      <div class="col-2">
                        <input v-model="cantidad_servicio" type="number" class="form-control" name="cantidad_servicio" placeholder="Cantidad">
                      </div>
                      <div class="col">
                        <div class="icon-big text-center">
                          <i class="teal fas fa-plus" role="button" @click="agregarServicios"></i>
                        </div>
                      </div>                      
                    </div>
                    <div class="row">
                      <table class="table">                       
                        <tbody>
                          <tr v-for="producto in productos_selected">
                            <td>[[producto.nombre]]</td>
                            <td>[[producto.precio | toCurrency]]</td>
                            <td>[[producto.cantidad]]</td>
                            <td>[[producto.total | toCurrency]]</td>
                          </tr>

                          <tr v-for="servicio in servicios_selected">
                            <td>[[servicio.nombre]]</td>
                            <td>[[servicio.precio | toCurrency]]</td>
                            <td>[[servicio.cantidad]]</td>
                            <td>[[servicio.total | toCurrency]]</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td>Total</td>
                            <td>[[total | toCurrency]]</td>
                          </tr>
                          
                        </tbody>
                      </table>
                    </div> 
                    <div class="row">
                      <div class="col">
                       <button type="button" class="btn btn-primary" @click="guardar">Crear Venta</button>
                      </div>
                    </div>
                  </div>
            </div>
          </div>



          <hr>
        </div>

    </main>


    <footer class="text-muted mt-3 mb-3">
        <div align="center">
          Desarrollado por <a href="https://lexisvar.me" target="_blank">Alexis Vargas</a>
      </div> 
    </footer>

      {# JS y jQuery Bootstrap #}
      {% bootstrap_javascript jquery='full' %} 

   
    <script>
      Vue.component('v-select', VueSelect.VueSelect)
      Vue.filter('toCurrency', function (value) {
          if (typeof value !== "number") {
              return value;
          }
          var formatter = new Intl.NumberFormat('es-CO', {
              style: 'currency',
              currency: 'COP'
          });
          return formatter.format(value);
      });
      var app = new Vue({
        delimiters: ["[[", "]]"],
        el: '#vue-app',
        data: {
          mostrar_mensaje : false,
          mensaje: 'Hello Vue!',
          text : '',
          list_customer: [],
          list_product: [],
          list_service: [],
          customer_selected : {},
          product_selected : {},
          service_selected : {},
          cantidad_producto : null,
          cantidad_servicio : null,
          productos_selected : [],
          servicios_selected : []
        },
        created(){
          this.clientes()
          this.productos()
          this.servicios()
        },
        computed:{
          total(){
            let total = 0
              this.productos_selected.forEach((producto, index) => {
                total +=producto.total
              })
  
              this.servicios_selected.forEach((servicio, index) => {
                total +=servicio.total
              })
  
              return total
          }
        },
        watch:{
          text(val){
            console.log(val)
          }
        },
        methods:{
          async productos(){
              params = {
                search : "",
              }
              axios
                .get('/productos/buscar', {params})
                .then(response => {
                  if(response.status == 200){
                    this.list_product = response.data.productos
                  }
                })
                .catch(error => {
                  console.log(error);
                });
          },
          async servicios(){
              params = {
                search : "",
              }
              axios
                .get('/servicios/buscar', {params})
                .then(response => {
                  if(response.status == 200){
                    this.list_service = response.data.servicios
                  }
                })
                .catch(error => {
                  console.log(error);
                });
          },
          async clientes(){
              params = {
                search : "",
              }
              axios
                .get('/clientes/buscar', {params})
                .then(response => {
                  if(response.status == 200){
                    this.list_customer = response.data.clientes
                  }
                })
                .catch(error => {
                  console.log(error);
                });
          },
          async guardar(){
              if(this.containsKey(this.customer_selected, 'id')){
                if(this.total>1){
                  data = {
                    cliente : this.customer_selected.id,
                    productos : this.productos_selected,
                    servicios : this.servicios_selected,
                    total : this.total
                  }
                  axios
                    .post('/ventas/guardar', data)
                    .then(response => {
                      if(response.status == 200){
                        location.href = '/ventas';
                      }
                    })
                    .catch(error => {
                      console.log(error);
                    });
                }else{
                  this.mostrarMsg("Debe agregar al menos un producto o servicio")
                }
              }else{
                this.mostrarMsg("Seleccionar un cliente es requerido")
              }
              
          },
          agregarProductos(){
            if(this.containsKey(this.product_selected, 'id')){
              if(this.cantidad_producto){
                let data = {
                  id : this.product_selected.id,
                  nombre : this.product_selected.nombre,
                  precio : this.product_selected.precio,
                  stock : this.product_selected.stock,
                  cantidad : this.cantidad_producto,
                  total : this.cantidad_producto * this.product_selected.precio,
                }
                this.productos_selected.push(data) 
                this.cantidad_producto = null
              }else{
                this.mostrarMsg("debe agregar la cantidad")
              } 
            }else{
              this.mostrarMsg("debe tener selecionado")
            }
          },
          agregarServicios(){
            if(this.containsKey(this.service_selected, 'id')){
              if(this.cantidad_servicio){
                let data = {
                  id : this.service_selected.id,
                  nombre : this.service_selected.nombre,
                  precio : this.service_selected.precio,
                  cantidad : this.cantidad_servicio,
                  total : this.cantidad_servicio * this.service_selected.precio,
                }
                this.servicios_selected.push(data) 
                this.cantidad_servicio = null
              }else{
                this.mostrarMsg("debe agregar la cantidad")
              } 
            }else{
              this.mostrarMsg("debe tener selecionado")
              return false
            }
          },
          mostrarMsg(mensaje){
            this.mensaje = mensaje

            this.mostrar_mensaje = true
            setTimeout(() => this.mostrar_mensaje = false, 3000);
          },
          containsKey(obj, key ) {
            return Object.keys(obj).includes(key);
          }
        }
      })
    </script>
  </body>
</html>
