<!doctype html>
<html lang="es">
  
  {% include 'partials/head.html' %} <!--head-->

  <body> 

    {# Cargamos la librería #}
    {% load bootstrap4 %}

    {# Widget Tweaks #}
    {% load widget_tweaks %}

    <header>
      {% include 'partials/nav.html' %} <!--nav -->
    </header>   
    
    {# Archivos #}
    {% load static %}

    <main role="main">

        <div class="container text-center mt-5">

          <div class="row mb-4">
            <div class="col-md-12">
              <h1 style="font-size: 28px;">Tienda para Mascotas</h1>              
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h5>Dashboard</h5>              
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="icon-big text-center">
                                    <i class="teal fas fa-boxes"></i>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="detail">
                                    <p class="detail-subtitle">Número de productos</p>
                                    <span class="number">{{ cantidad_productos }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="fas fa-calendar"></i> Todo el tiempo
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3 mt-3" role="button" onclick="exportar_ventas()">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="icon-big text-center">
                                    <i class="olive fas fa-money-bill-alt"></i>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="detail">
                                    <p class="detail-subtitle">Total en ventas</p>
                                    <span class="number">$ {{ total_ventas.total__sum }} </span>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="fas fa-calendar"></i> Este mes
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="icon-big text-center">
                                    <i class="violet fas fa-paw"></i>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="detail">
                                    <p class="detail-subtitle">Cantidad Mascotas</p>
                                    <span class="number">{{ cantidad_mascotas }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="fas fa-stopwatch"></i> Todo el tiempo
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3 mt-3" role="button" onclick="exportar_clientes()">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="icon-big text-center">
                                    <i class="orange fas fa-users"></i>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="detail">
                                    <p class="detail-subtitle">Clientes</p>
                                    <span class="number">{{cantidad_clientes}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="fas fa-envelope-open-text"></i> Esta semana
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>     

          <hr>

                    
          
          
        </div>

    </main>


    <footer class="text-muted mt-3 mb-3">
        <div align="center">
          Desarrollado por <a href="https://lexisvar.me" target="_blank">Alexis Vargas</a>
      </div> 
    </footer>

      {# JS y jQuery Bootstrap #}
      {% bootstrap_javascript jquery='full' %} 

      <script type="text/javascript">
        function eliminar() {
          var x = confirm("Eliminar Producto ?");
          if (x)
            return true;
          else
            return false;
        }

        function exportar_ventas(){
          window.open('/ventas/exportar');
        }
        function exportar_clientes(){
          window.open('/clientes/exportar');
        }
      </script>
    
  </body>
</html>
